<tr>
  <td>
    <%= image_tag(line.product.imagen, alt: line.product.descripcion, size: "72") %>
  </td>
  <td><%= line.product.descripcion %></td>
  <td><%= line.cantidad %></td>
  <td><%= line.product.precio %></td>
  <td>
    <%= form_tag(quitar_linea_path(line.id), method: :post) do %>
        <%= button_tag type:"input", class:"btn btn-danger btn-mini" do %>
            <!--<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>-->
            Quitar
        <% end %>
    <% end %>
  </td>
</tr>