<tr>
  <td>
    <%= image_tag(line.product.imagen, alt: line.product.descripcion, size: "72") %>
  </td>
  <td><%= line.product.descripcion %></td>
  <td><%= line.cantidad %></td>
  <td><%= line.product.precio %></td>
  <td>
    <%= form_tag(actualizar_carrito_url, method: :post) do %>
        <%= text_field_tag :line_id, line.id, type:"hidden" %>
        <%= text_field_tag :cantidad, 0, class:"form-control" %>
        <%= button_tag type:"input", class:"btn btn-danger btn-mini" do %>
            Actualizar
        <% end %>
    <% end %>
  </td>
</tr>