<% provide(:title, 'Búsqueda: '+@titulo) %>
<div class="row">
  <p id="notice"><%= notice %></p>
  <h1 class="page-header">
    Busqueda (<%= @products.count %>):
  </h1>
  <p class="lead">
    <%= @titulo %>
  </p>
</div>
<% if @products.any? %>
  <div class="row">
    <%= will_paginate @products %>
  </div>
  <div class="row">
    <%= render @products %>
  </div>
  <div class="row">
    <%= will_paginate @products %>
  </div>
<% end %>
