<p id="notice"><%= notice %></p>

<h1>Listando Categorias</h1>
<%= will_paginate @categories %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Título</th>
    <th>Descripción</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
      <tr>
        <td><%= category.titulo %></td>
        <td><%= category.descripcion %></td>
        <td>
          <%= link_to 'Mostrar', category %>
          <%= link_to 'Editar', edit_category_path(category) %>
          <%= link_to 'Destruir', category, method: :delete, data: { confirm: '¿Estas seguro?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @categories %>
<br>

<%= link_to 'New Categoría', new_category_path %>
