<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @product.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @product.descripcion %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @product.imagen %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @product.precio %>
</p>
<p>
  <strong>Categorias:</strong>
  <% for cat in @product.categories %>
      <%= cat.titulo %>,
  <% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
