<% provide(:title, 'Producto '+@product.id.to_s) %>
<div class="row">
  <h2 class="page-header">
    <%= @product.titulo %>
  </h2>
  <%= form_tag(agregar_al_carrito_url, remote: true, class: "form-inline") do %>
      <div class="input-group">
        <%= text_field_tag "cantidad", 1, class:"form-control", placeholder:"Cantidad", required: true %>
        <%= text_field_tag "product_id", @product.id, type: "hidden" %>
        <span class="input-group-btn">
              <%= button_tag "Al carrito!", class: "btn btn-primary" %>
            </span>
      </div>
  <% end %>
  <p><strong> $<%= @product.precio %></strong></p>
  <p class="lead">
    <%= @product.descripcion %>
  </p>
</div>
<div class="row">
  <%= image_tag(image_url(@product.imagen), alt: "producto") %>
</div>
<%= link_to "Editar", edit_product_url(@product) %> |
<%= link_to "Atrás", products_url %>