<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Tienda Virtual", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-form navbar-right">
        <% if signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                 aria-haspopup="true" aria-expanded="false"><%= current_user.login %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "<i class=\"icon-user\"></i> Perfil".html_safe, current_user %></li>
                <li><%= link_to "<i class=\"icon-cog\"></i> Configuración".html_safe, edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "<i class=\"icon-off\"></i> Cerrar sesión".html_safe, signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
        <% else %>
            <%= link_to "Registrarte", signup_path, {class: "btn btn-primary"} %>
            <%= link_to "Iniciar Sesión", signin_path, {class: "btn btn-success"} %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
